<form method="POST">
    <input name="Nom" type="text" > Nom </input>
    <label  class="name"  ></label><br>

    <input name="Matricule" type="text" > Matriculate </input>
    <label  class="Matricule"  ></label><br>

    <input name="Enregistrer" type="submit" value="submit">
</form>