<form method="POST">
    <input name="Nom" type="text"  value="{{ voiture.nom }}"> Nom </input>
    <label  class="name"  ></label><br>

    <input name="Matricule" value="{{ voiture.matricule }}" type="text" > Matriculate </input>
    <label  class="Matricule"  ></label><br>

    <input name="Modifier" type="submit" value="submit">
</form>